BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: BlockIndent
SpaceBeforeInheritanceColon: false
SpaceBeforeCtorInitializerColon: false
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 0
PackConstructorInitializers: BinPack
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
SortIncludes: false
FixNamespaceComments: false
