.idea
.cxx
.gradle
venv
.env
env
.DS_Store
.vscode
output/
output_cgo/
build_tools/
linux_output/
*.session
*.session-journal
tools/opus/
*.egg-info
*.ogg
deps/libcxx/
deps/libwebrtc/
deps/libcxxabi/
deps/boost/
deps/clang/
deps/ndk/
android/app/src/main/jni/ntgcalls/
android/app/src/main/jni/wrtc/
android/local.properties
build/
build_lib/
shared-output/
static-output/
dist/
tests/
__pycache__
*.i420
*.pcm
*.mp4
*.mp3
