.idea
.claude
venv
.env
env
.DS_Store
.vscode
output/
output_cgo/
build_tools/
linux_output/
*.session
*.session-journal
tools/opus/
*.egg-info
*.ogg
*.whl
deps/libcxx/
deps/libwebrtc/
deps/libcxxabi/
deps/boost/
deps/clang/
deps/openh264/
deps/ffmpeg/
deps/ndk/
deps/libx11/
deps/mesa/
deps/glib/
ntgcalls/src/tl/e2e_api.cpp
ntgcalls/include/ntgcalls/tl/e2e_api.hpp
build/
build_c/
build_shared/
build_lib/
shared-output/
static-output/
ntl-output/
/docs/
dist/
local_tests/
__pycache__
uv.lock
*.i420
*.pcm
*.mp4
*.mp3
*.so

/docs-output
