.idea
venv
.env
env
.DS_Store
.vscode
output/
output_cgo/
linux_output/
*.session
*.session-journal
tools/opus/
*.egg-info
*.ogg
deps/libcxx/
deps/libwebrtc/
deps/libcxxabi/
deps/boost/
build/
shared-build/
shared-output/
dist/
clang/
tests/
__pycache__
*.i420
*.pcm
*.mp4
*.mp3
